body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px gray;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}